.cabecalho{
    padding: 1.5% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 70px;
    
}

.cabecalho__menu__link{
    font-size: 1.625rem;
    font-family: "Montserrat", sans-serif;
    color: #5b7cf4;
    font-weight: 600;
    
    text-decoration: none;
}

.apresentacao {
    padding: 3% 10%;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
    color: rgb(37, 157, 243);
    line-height: 4%;
}

.apresentacao__conteudo__texto1{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(37, 157, 243);
    display: flex;
    white-space: pre-line;
}

.apresentacao__conteudo__texto2{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(37, 157, 243);
    white-space: pre-line;
}

body {
    /*height: 100vh;  Isso garante deixar a página em 100% da 
    tela em que se acessa o site */
    box-sizing: border-box;/* permite que os valores de posicionamento sejam relativos ao conteúdo e independentes de alterações nos tamanhos de borda e preenchimento, o que às vezes é desejável */
    background-image: url(./background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-block-end: 50%;
}

.rodape{
    color: #042865;
    background-color: #5b7cf4;
    padding: 2px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    size: 10px;
    font-weight: 400;
    text-decoration-line: underline;
}

@media (max-width: 900px) {
    .cabecalho{
        padding: 5% 40% 8% 8%;
    }

    .cabecalho__menu{
        justify-content:  center;
    }

    .apresentacao {
        
        flex-direction: column-reverse;
    }
    
  }